body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;  /* geen horizontaal scrollen */
    overflow-y: hidden;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 0 10px;   /* kleine padding links/rechts */
    box-sizing: border-box;
}

.logo {
    width: 100px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 2px 0;
    font-size: 30px;
    font-weight: 400;
    color: #333;
    font-family: 'Tangerine', cursive;
    max-width: 100%;
    word-break: break-word;
}

h2 {
    margin: 2px 0;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    font-family: 'Tangerine', cursive;
    max-width: 100%;
    word-break: break-word;
}
